small{
    text-align: left;
    color: red;
}


.container{
    text-align: center;
    border: 1px solid black;
    margin-right: 500px;
    margin-left: 500px;
    padding: 20px 50px 100px 50px;
    background-color:#4A403A;
    color: white;
}
.form-control{
   margin: 25px;
}
.form-control input{
    display: block;
    width: 100%;
}
.form-control label{
    display: block;
    text-align: left;
    
}


.form-control.error input{
    border: 2px solid red;
}
.form-control.success input{
    border: 2px solid green;
}
.btn{
    background-color: green;
    color: black;
    width: 100%;
    height: 40px;
    margin-top: 20px ;
}
#Email{
    height: 30px;
    font-size: medium;
    margin-top: 20px;
}
#userName{
    height: 30px;
    font-size: medium;
    margin-top: 20px;
}
#currentPassword{
    height: 30px;
    font-size: medium;
    margin-top: 20px;
}
#newPassword{
    height: 30px;
    font-size: medium;
    margin-top: 20px;
}
